.btneliminar{
  margin-top: 5px;
  margin-bottom: 5px;
}

.container-fluid{
  height: 95vh;
  background-image: url('../../../assets/fondo3.jpg');
  background-size: cover;
}

.inner-adjust{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
