.mat-grid-list{
  background-color: black;
}

mat-card-image{
  max-width: 224px;
  max-height: 308px;
}

.center{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
}

mat-card{
  margin-left: 20px
}
