<div class="cont">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title class = "cardtitle">Inicio</mat-card-title>
    </mat-card-header>
    <mat-divider inset></mat-divider>
    <mat-card-content class = "cardcontent">
      <h3>Indicaciones de Juego</h3>
      <p>Para iniciar el juego debes estar registrado, incluso los jugadores</p>
        <button class= "button-marvel" mat-raised-button color="primary" (click)="newGame()">Crear Juego</button>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button class= "button-marvel" mat-raised-button color="primary" (click)="gameList()">Consultar Juegos Creados</button>
    </mat-card-actions>
  </mat-card>
</div>
