<h1 class = "titulo" mat-dialog-title> {{data.titulo}} </h1>

<mat-divider></mat-divider>

<div class="contenido" mat-dialog-content>
  {{data.contenido}}
</div>

<mat-divider></mat-divider>

<div class="diveliminarjuego" mat-dialog-actions *ngIf="data.contexto == 'Eliminar' ">
  <button mat-raised-button mat-dialog-close>No</button>
  <button mat-raised-button color="warn" (click)="closeDialog()" mat-dialog-close cdkFocusInitial>Sí</button>
</div>

<div mat-dialog-actions *ngIf="data.contexto == 'Ganador' ">
  <button class="btnredirigir" mat-raised-button color="primary" (click)="redirigirHome()" mat-dialog-close cdkFocusInitial>Salir</button>
</div>
